[submodule "Bresenhams_Line_Algorithm"]
	path = Bresenhams_Line_Algorithm
	url = https://github.com/kionkina/work2.git
[submodule "Edge_Matrix"]
	path = Edge_Matrix
	url = https://github.com/kionkina/trix_are_for_kids.git
[submodule "Transformations"]
	path = Transformations
	url = https://github.com/kionkina/transformationz.git
[submodule "Bezier_and_Hermite"]
	path = Bezier_and_Hermite
	url = https://github.com/kionkina/wavy.git

[submodule "3d"]
	path = 3d
	url = https://github.com/kionkina/three_dee.git
[submodule "Polygons"]
	path = Polygons
	url = https://github.com/kionkina/gons_of_poly.git
[submodule "Stack_Structure"]
	path = Stack_Structure
	url = https://github.com/kionkina/stacks.git
