[submodule "Bresenhams_Line_Algorithm"]
	path = Bresenhams_Line_Algorithm
	url = https://github.com/kionkina/work2.git
[submodule "Edge_Matrix"]
	path = Edge_Matrix
	url = https://github.com/kionkina/trix_are_for_kids.git
[submodule "Transformations"]
	path = Transformations
	url = https://github.com/kionkina/transformationz.git
[submodule "Bezier_and_Hermite"]
	path = Bezier_and_Hermite
	url = https://github.com/kionkina/wavy.git

